<form class="form-inline" action="/owners/search" method="get" autocomplete="off">
  <input
    required
    type="search"
    class="form-control w-75"
    name="searchTerm"
    placeholder="Search Owner"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
