<form id="search-o" class="form-inline" action="/owners/search" method="get" autocomplete="off">
  <input
    type="search"
    class="form-control w-75"
    name="searchTerm"
    placeholder="Search Owner"
    value="<%= locals.search || '' %>"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
